# Firebase Client Configuration
# Get these from Firebase Console -> Project Settings -> General -> Your apps -> Web App
NEXT_PUBLIC_FIREBASE_API_KEY=""
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=""
NEXT_PUBLIC_FIREBASE_PROJECT_ID=""

# API Configuration
NEXT_PUBLIC_BACKEND_URL=http://localhost:5000/api
