PORT=5000
# Firebase Admin Configuration
# Get this from Firebase Console -> Project Settings -> Service Accounts -> Generate new private key
FIREBASE_SERVICE_ACCOUNT='{}'

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# Email Configuration (Google SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=""
SMTP_PASS=""
EMAIL_FROM="PrelovedByHira <noreply@prelovebyhira.com>"

# App URLS
FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:5000
